.u-section-1 .u-sheet-1 {
  min-height: 50px;
} .u-section-2 {
  background-image: url("images/front-left-side-47.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 868px;
}

.u-section-2 .u-group-1 {
  margin-top: -20px;
  margin-bottom: 0;
  height: auto;
  min-height: 320px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 160px;
  height: 160px;
  margin: 13px auto 0 63px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  letter-spacing: 10px;
  font-size: 8rem;
  width: 660px;
  margin: -159px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 398px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 250px;
  height: 125px;
  margin: 425px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 50px;
  height: 200px;
  margin: -295px 23px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  margin: 13px 44px 60px auto;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-2 .u-group-1 {
    min-height: 328px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-left: 42px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -150px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 583px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 52.37% 0%;
    background-size: auto 115%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -77px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 69px;
    margin-left: 131px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 521px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 50.09% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: 520px;
    margin-right: auto;
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -25px;
    min-height: 634px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 389px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 44px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #748284);
}

.u-section-3 .u-sheet-1 {
  min-height: 414px;
}

.u-section-3 .u-group-1 {
  width: 695px;
  min-height: 324px;
  height: auto;
  margin: 50px auto 0 36px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.375rem;
  margin: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 131px;
  height: 131px;
  background-image: url("images/AravindGowthaman.jpg");
  background-position: 50% 50%;
  margin: 21px auto 0 30px;
}

.u-section-3 .u-text-2 {
  letter-spacing: 1px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -78px 70px 0 203px;
}

.u-section-3 .u-group-2 {
  min-height: 276px;
  height: auto;
  width: 388px;
  margin: -324px 0 -10px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 118px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 528px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(#1c2122, #748284);
}

.u-section-4 .u-sheet-1 {
  min-height: 462px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 29px auto 60px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 403px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 0 0 20px;
}

.u-section-4 .u-image-1 {
  min-height: 403px;
  background-image: url("images/2018-mercedes-benz.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 383px;
    z-index: 2;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 142px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-1 {
    min-height: 332px;
    z-index: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-image-1 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 204px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-1 {
    min-height: 286px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-4 .u-image-1 {
    min-height: 173px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 568px;
}

.u-section-5 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 568px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 700;
  text-transform: none;
  font-family: Lato, sans-serif;
  margin: 0 4px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  width: 424px;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 28px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 568px;
  background-image: url("images/tesla-model-s-p100d-b-69xp.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 438px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 410px;
  }

  .u-section-5 .u-image-1 {
    background-position: 44.12% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 423px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: 300px;
  }

  .u-section-5 .u-image-1 {
    min-height: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin: 60px auto 60px calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 635px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    min-height: 400px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1139px;
}

.u-section-6 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 487px;
  height: 162px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 199px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 198px;
  height: 143px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 215px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-6 .u-image-3 {
  width: 198px;
  height: 198px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 299px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 255px;
  height: 255px;
  margin: 0 auto;
}

.u-section-6 .u-layout-wrap-2 {
  width: 1035px;
  margin: 142px auto 40px;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 393px;
  background-image: none;
}

.u-section-6 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 36px 0 0;
}

.u-section-6 .u-text-2 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-6 {
  min-height: 393px;
}

.u-section-6 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 42px 0 0;
}

.u-section-6 .u-text-4 {
  font-style: normal;
  margin: 14px 0 0;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 393px;
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding: 0;
}

.u-section-6 .u-image-5 {
  height: 490px;
  box-shadow: 5px 5px 36px 0 rgba(0,0,0,0.55);
  margin: -203px auto 0 -30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 474px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-6 .u-image-1 {
    height: 132px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-6 .u-image-2 {
    width: 139px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 236px;
  }

  .u-section-6 .u-image-3 {
    width: 139px;
    height: 139px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 246px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 69px;
    margin-bottom: -102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 357px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 357px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 357px;
  }

  .u-section-6 .u-image-5 {
    height: 445px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1728px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 510px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 377px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 273px;
  }

  .u-section-6 .u-image-5 {
    height: 341px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1854px;
  }

  .u-section-6 .u-layout-wrap-1 {
    min-height: 956px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 146px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 472px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 291px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-5 {
    order: 2;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-6 {
    order: 1;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-7 {
    order: 0;
    min-height: 614px;
  }

  .u-section-6 .u-image-5 {
    height: 767px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2180px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 50px;
    min-height: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-6 .u-image-1 {
    height: 110px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 161px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 304px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: 149px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 387px;
  }

  .u-section-6 .u-image-5 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  min-height: 567px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 587px;
}

.u-section-7 .u-container-layout-1 {
  padding: 50px 80px;
}

.u-section-7 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 22px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  margin: 22px 0 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/Fullmouldmatchange.jfif");
  min-height: 567px;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 537px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 36px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 537px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 338px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 411px;
    background-position: 84.5% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 528px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 514px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 362px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 324px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 277px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 7px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 209px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .u-text-1 {
  font-size: 6rem;
  margin: 11px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 209px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-9 {
  background-image: linear-gradient(#1c2122, #748284);
}

.u-section-9 .u-sheet-1 {
  min-height: 499px;
}

.u-section-9 .u-text-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 4px;
  margin-bottom: -168px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 393px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 20px 25px;
}

.u-section-9 .u-text-2 {
  margin: 0;
}

.u-section-9 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px 0 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 393px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-9 .u-text-4 {
  margin: 0;
}

.u-section-9 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 393px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-9 .u-text-6 {
  margin: 0;
}

.u-section-9 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-9 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: -107px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-10 .u-text-1 {
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 856px;
  margin: 50px auto 0;
}

.u-section-10 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 40px;
  margin-bottom: -164px;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 770px;
  grid-gap: 20px;
}

.u-section-10 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-1 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 24px 30px 0;
}

.u-section-10 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-2 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px 30px 0;
}

.u-section-10 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-3 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px 30px 0;
}

.u-section-10 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-10 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-4 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px 30px 0;
}

.u-section-10 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-10 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-5 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 24px 30px 0;
}

.u-section-10 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-10 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-6 {
  height: 307px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  margin: 24px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-10 .u-list-1 {
    margin-bottom: -368px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 634px;
  }

  .u-section-10 .u-image-1 {
    filter: brightness(0.8);
    height: 253px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    filter: brightness(0.8);
    height: 253px;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-3 {
    filter: brightness(0.8);
    height: 253px;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-4 {
    filter: brightness(0.8);
    height: 253px;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-5 {
    filter: brightness(0.8);
    height: 253px;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-6 {
    filter: brightness(0.8);
    height: 253px;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1454px;
  }

  .u-section-10 .u-text-1 {
    width: 720px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 172px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1115px;
  }

  .u-section-10 .u-image-1 {
    height: 291px;
  }

  .u-section-10 .u-image-2 {
    height: 291px;
  }

  .u-section-10 .u-image-3 {
    height: 291px;
  }

  .u-section-10 .u-image-4 {
    height: 291px;
  }

  .u-section-10 .u-image-5 {
    height: 291px;
  }

  .u-section-10 .u-image-6 {
    height: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 3533px;
  }

  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-image-1 {
    height: 437px;
  }

  .u-section-10 .u-image-2 {
    height: 437px;
  }

  .u-section-10 .u-image-3 {
    height: 437px;
  }

  .u-section-10 .u-image-4 {
    height: 437px;
  }

  .u-section-10 .u-image-5 {
    height: 437px;
  }

  .u-section-10 .u-image-6 {
    height: 437px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2460px;
  }

  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 40px;
    margin-bottom: -1237px;
  }

  .u-section-10 .u-image-1 {
    height: 275px;
  }

  .u-section-10 .u-image-2 {
    height: 275px;
  }

  .u-section-10 .u-image-3 {
    height: 275px;
  }

  .u-section-10 .u-image-4 {
    height: 275px;
  }

  .u-section-10 .u-image-5 {
    height: 275px;
  }

  .u-section-10 .u-image-6 {
    height: 275px;
  }
} .u-section-11 {
  background-image: none;
  min-height: 1191px;
}

.u-section-11 .u-shape-1 {
  height: 534px;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-11 .u-image-1 {
  width: 837px;
  height: 1026px;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  margin: -469px auto 0 calc(((100% - 1140px) / 2) + -148px);
}

.u-section-11 .u-image-2 {
  width: 570px;
  height: 392px;
  box-shadow: 2px -2px 8px 0px rgba(128,128,128,1);
  margin: -753px calc(((100% - 1140px) / 2) + -159px) -362px auto;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 1541px;
  }

  .u-section-11 .u-image-1 {
    width: 735px;
    height: 934px;
    margin-left: auto;
  }

  .u-section-11 .u-image-2 {
    margin: 50px auto 30px calc(((100% - 940px) / 2) + 173px);
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 1522px;
  }

  .u-section-11 .u-image-1 {
    width: 608px;
    height: 584px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 150px);
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 827px;
  }

  .u-section-11 .u-shape-1 {
    height: 719px;
  }

  .u-section-11 .u-image-1 {
    width: 493px;
    height: 493px;
    margin-top: -634px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 372px;
    margin-top: -389px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 885px;
  }

  .u-section-11 .u-shape-1 {
    height: 268px;
  }

  .u-section-11 .u-image-1 {
    width: 311px;
    height: 440px;
    margin-top: -206px;
    margin-left: auto;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 234px;
    margin-top: 49px;
    margin-left: calc(((100% - 340px) / 2));
    margin-bottom: 31px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 570px);
  left: 0;
  right: auto;
  margin-bottom: 0;
  min-height: 635px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-12 .u-line-1 {
  width: 43px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-12 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: 22px auto 0 82px;
}

.u-section-12 .u-group-2 {
  width: 250px;
  min-height: 170px;
  height: auto;
  margin: 30px auto 0 43px;
}

.u-section-12 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-12 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-12 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 574px;
}

.u-section-12 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 26px;
}

.u-section-12 .u-text-4 {
  text-transform: uppercase;
  margin: 0 22px 0 20px;
}

.u-section-12 .u-text-5 {
  font-style: italic;
  margin: 18px 24px 0 20px;
}

.u-section-12 .u-text-6 {
  text-transform: uppercase;
  margin: 31px 22px 0 20px;
}

.u-section-12 .u-text-7 {
  font-style: italic;
  margin: 18px 24px 0 20px;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-text-8 {
  text-transform: uppercase;
  margin: 20px 22px 0 20px;
}

.u-section-12 .u-text-9 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-12 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px auto 0;
  padding: 7px 14px 7px 13px;
}

.u-section-12 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -4px auto 0;
}

.u-section-12 .u-icon-2 {
  font-size: 1.875em;
  vertical-align: -3px;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 572px;
}

.u-section-12 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 470px);
    margin-bottom: initial;
    min-height: auto;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-12 .u-group-2 {
    height: auto;
  }

  .u-section-12 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 17px;
    margin-right: 19px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 17px;
    margin-right: 22px;
  }

  .u-section-12 .u-text-6 {
    margin-left: 17px;
    margin-right: 20px;
  }

  .u-section-12 .u-text-7 {
    margin-left: 17px;
    margin-right: 22px;
  }

  .u-section-12 .u-text-8 {
    margin-left: 17px;
    margin-right: 20px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 360px);
    min-height: auto;
    margin-bottom: initial;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-12 .u-image-1 {
    margin-left: 57px;
  }

  .u-section-12 .u-group-2 {
    width: 228px;
    min-height: 228px;
    margin-left: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 635px;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -694px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 813px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 1635px;
  }

  .u-section-12 .u-group-1 {
    margin-top: 60px;
    min-height: 694px;
    width: auto;
  }

  .u-section-12 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-group-2 {
    margin-left: 29px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 512px;
  }
}