 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/1e30c80ba295703009d8faee7d329536fd9838c04af427967c8bae5f7f2b9c4f9f3e52302f85b4db7e7b049b5e987b8f1d4d6d85636ebec19824a8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 360px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 320px;
  width: 320px;
  animation-timing-function: ease-in;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 320px;
  width: 320px;
  animation-timing-function: ease-in;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 320px;
  width: 320px;
  animation-timing-function: ease-in;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#76c940, #4a6737);
  font-weight: normal;
  text-transform: none;
  margin: 60px auto 3px;
  padding: 14px 99px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 297px;
  }

  .u-section-1 .u-image-1 {
    height: 240px;
    width: 240px;
  }

  .u-section-1 .u-image-2 {
    height: 240px;
    width: 240px;
  }

  .u-section-1 .u-image-3 {
    height: 240px;
    width: 240px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 206px;
  }

  .u-section-1 .u-image-1 {
    height: 180px;
    width: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 180px;
    width: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    height: 180px;
    width: 180px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 150px;
    width: 150px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 150px;
    width: 150px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 150px;
    width: 150px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 139px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-1 {
    height: 100px;
    width: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-2 {
    height: 100px;
    width: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-3 {
    height: 100px;
    width: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: -223px;
    padding-left: 53px;
    padding-right: 53px;
  }
}