 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 452px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 280px;
  grid-gap: 0px 0px;
  grid-auto-columns: 25%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 220px;
  width: 220px;
  animation-timing-function: ease-in;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-1 .u-image-2 {
  height: 220px;
  width: 220px;
  animation-timing-function: ease-in;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-image-3 {
  height: 220px;
  width: 220px;
  animation-timing-function: ease-in;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-1 .u-image-4 {
  height: 220px;
  width: 220px;
  animation-timing-function: ease-in;
  margin: 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 123px;
  margin: -11px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -82px auto 61px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
    width: 200px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    width: 200px;
  }

  .u-section-1 .u-image-3 {
    height: 200px;
    width: 200px;
  }

  .u-section-1 .u-image-4 {
    height: 200px;
    width: 200px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -83px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-list-1 {
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 465px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-bottom: -555px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: -630px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 307px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -91px;
    margin-bottom: -647px;
  }
}